<div class="mb-4">
	<a href="{{ .Permalink }}">
  	<div class="card single-post-card m-4 p-4 shadow-effect border">
  	  <h2 class="fw-bold event-page">
  	      {{ .Title }}
  	  </h2>
  	  {{ if .Params.subtitle }}
  	  <h4 class="post-subtitle event-page">
  	      {{ .Params.subtitle }}
  	  </h4>
  	  {{ end }}
  	  <h4 class="fw-bold event-page">
  	      {{ .Date.Format "January 2, 2006" }}
  	  </h4>
  	  <h6>
  	      {{ .Date.Format "1:00 PM" }}
  	      {{ if .Params.end_time }}
  	      - {{ .Params.end_time }}
  	      {{ end }}
  	  </h6>
  </a>
</div>