<div class="card single-card h-100 shadow-effect border">
	<div class="card-body">
		<h3 class="fw-bold post-title">{{ .Params.subtitle }}</h3>
		<h4 class="post-entry">{{ .Date.Format "January 2, 2006" }}</h4>
		<h6> {{ .Date | time.Format ":time_short" }} {{ if .Params.end_time }} - {{ .Params.end_time }} {{ end }}</h6>
		<div class="pt-4">
			{{ partial "address" . }}
		</div>
		<!--Hosts-->
		{{ if .Params.host }}
		<div class="py-4">
			<h4>Hosted by:</h4>
			<a href=" {{ .Params.hostLink }}">{{ .Params.host }}</a>
			{{ if .Params.cohost }} &
			<a href=" {{ .Params.cohostLink }}">{{ .Params.cohost }}</a>
			{{ end }}
		</div>
		{{ end }}
		<!--Hosts-End-->
	</div>
</div>