<div class="col-sm-12 col-md-12 col-lg-10 col-xl-10">
    <div class="card border mb-3 ">
        <div class="card-body">
            <div class="row">
                <div class="col-md-10">
                    <h3 class="fw-bold post-title">{{ .Title }}</h3>
                </div>
            </div>
            {{ if .Params.subtitle }}
            <h3 class="post-subtitle">
                {{ .Params.subtitle }}
            </h3>
            {{ end }}
            <br>
            {{ if .Params.event_date }}
            <h3>
                {{ .Params.event_date }}
            </h3>
            {{ end }}
            {{ if .Params.event_time }}
            <h5>
                {{ .Params.event_time }}
            </h5>
            {{ end }}
            {{ if .Params.event_special }}
            <br>
            <h4>
                {{ .Params.event_special }}
            </h4>
            {{ end }}
            <br>
            {{ if .Params.event_location }}
            <h4>
                {{ .Params.event_location }}
            </h4>
            {{ end }}
            {{ if .Params.event_address}}
            <h6>
                {{ .Params.event_address }}
            </h6>
            {{ end }}
        </div>
    </div>
</div>