<div class="">
    <div class="card border">
        <div class="card-body">
            <h2 class="fw-bold">
                {{ .Params.event_name }}
            </h2>
            {{ if .Params.subtitle }}
            <h4 class="post-subtitle">
                {{ .Params.subtitle }}
            </h4>
            {{ end }}
            <br>
            <h6>When:</h6>
            <h4 class="fw-bold">
                {{ .Params.event_date }}
            </h4>
            <h6>
                {{ .Params.event_time }}
            </h6>
            <br>
            {{ if .Params.event_special }}
            <h4 class="fw-bold">
                {{ .Params.event_special }}
            </h4>
            {{ if .Params.event_details }}
            <h6>
                {{ .Params.event_details }}
            </h6>
            {{ end }}
            <br>
            {{ end }}
            {{ if .Params.event_location }}
            <h6>Where:</h6>           
            <h4 class="fw-bold">
                {{ .Params.event_location }}
            </h4>
            {{ end }}
            {{ if .Params.event_address}}
            <h6>
                {{ .Params.event_address }}
            </h6>
            {{ end }}
        </div>
    </div>
</div>