.devRow {
    display: flex;
  }
  
.devColumn {
    flex: 33.33%;
    padding: 5px;
  }

.devCompanies {
  flex: 60%;
  padding: 5px;
}

.devText {
    text-align: center;
    margin-bottom: 0;
  }

.home-page {
  text-align: center;
}

.event-page {

}

:root {
  --light-fill-color: #000; /* default black */
  --dark-fill-color: #fff; /* default white */
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --fill-color: var(--dark-fill-color);
  }
}

/* Media query for light mode */
@media (prefers-color-scheme: light) {
  :root {
    --fill-color: var(--light-fill-color);
  }
}

svg.logo {
  fill: var(--fill-color);
}