.devRow {
    display: flex;
  }
  
.devColumn {
    flex: 33.33%;
    padding: 5px;
  }

.devCompanies {
  flex: 60%;
  padding: 5px;
}

.devText {
    text-align: center;
    margin-bottom: 0;
  }

.home-page {
  text-align: center;
}

.home-page:link {
  text-decoration: none;
  color: #344854
}
