
  <div class="mb-4">
    <div class="">


  <a href="{{ .Permalink }}">
    <div class="card list-card h-100 shadow-effect border py-5">
        <!--Image-->
      <div class="pb-4">
        <div class="member-card-image p-0">
          {{ with partial "get_image" . }}
            <img src="{{ .RelPermalink }}" alt="{{ .Params.name }}" class="rounded img-fluid lazyload">
          {{ end }}
        </div>
      </div>
      <!--Image-END-->

      <!--Info-->
      <div class="center">
        <h1 class="mb-0"> {{ .Params.name }} </h1>
        {{ if .Params.description }} <h6 class="mb-4"> {{ .Params.description }} </h6> {{ end }} 
        {{ if .Params.company }} <h2 class="mb-0"> {{ .Params.company }} </h2> {{ end }}
        {{ if .Params.position }} <h5> {{ .Params.position }} </h5> {{ end }}

      </div>
      <!--Info-END-->
    </div>
      </div>
    </div>
  </a>
</div>