<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4">
  <a href="{{ .Permalink }}">
    <div class="card list-card h-100 shadow-effect border">
      {{ with partial "get_image" . }} <img src="{{ .RelPermalink }}" alt="{{ .Params.name }}" class="card-img-top img-fluid
      lazyload"> {{ end }}

      <div class="card-body center">
        <h3 class="fw-bold post-title">{{ .Params.name }}</h3>
        {{ if .Params.subtitle }}
        <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
        {{ end }}


        <div class="post-entry">
          {{ if .Params.description }} {{ .Params.description }} {{ end }}
        </div>

      </div>
    </div>
  </a>
</div>