{{/* address.html */}}
{{ $street := .Get ".Params.street" }}
{{ $suite := .Get ".Params.suite" }}
{{ $city := .Get ".Params.city" }}
{{ $state := .Get ".Params.state" }}
{{ $zip := .Get ".Params.zip" }}

{{ $address := $street | replace " " "%20" }}
{{ if $suite }}
    {{ $address = printf "%s+Suite+%s" $address $suite | replace " " "%20" }}
{{ end }}
{{ $address = printf "%s,%20%s,%20%s+%s" $address $city $state $zip | replace " " "%20" }}

<p>
    <a href="https://www.google.com/maps/search/?api=1&query={{ $address }}" target="_blank">
        {{ $street }}, 
        {{ if $suite }}
            Suite {{ $suite }}, 
        {{ end }}
        {{ $city }}, {{ $state }} {{ $zip }}
    </a>
</p>
