<div>
  <h4>
    {{ if .Params.location }}
    {{ .Params.location }}
    {{ end }}
  </h4>
  <div>
    {{ if .Params.street }}
      <a href="https://www.google.com/maps?q={{ .Params.street }}" target="_blank">
        <h5>
          {{ .Params.street }}
        </h5>
        <h6>
          {{ if .Params.city }} {{ .Params.city }} {{ end }}
          {{ if .Params.state }} {{ .Params.state }}, {{ end }}
          {{ if .Params.zip }} {{ .Params.zip }} {{ end }}
        </h6>
        <h6>
          {{ if .Params.suite }} Suite: {{ .Params.suite }} {{ end }}
        </h6>
      </a>
    {{ end }}
  </div>
</div>
