<div class="card single-card h-100 shadow-effect border">
	<div class="card-body center">
		<h1 class="fw-bold mb-4">{{ .Params.subtitle }}</h1>
		<h3 class="post-entry fw-bold">{{ .Date.Format "January 2, 2006" }}</h3>
		<h6> {{ .Date | time.Format ":time_short" }} {{ if .Params.end_time }} - {{ .Params.end_time }} {{ end }}</h6>
		<div class="pt-4">
			{{ partial "address" . }}
		</div>
		<!--Hosts-->
		{{ if .Params.host }}
		<div class="pt-4">
			<h3 class="fw-bold">Hosted by:</h3>
			<a href=" {{ .Params.hostLink }}">{{ .Params.host }}</a>
			{{ if .Params.cohost }} &
			<a href=" {{ .Params.cohostLink }}">{{ .Params.cohost }}</a>
			{{ end }}
		</div>
		{{ end }}
		<!--Hosts-End-->

		<!--Guests-->
		<div class="pt-4">
			{{ if .Params.guest01 }}
				{{ if not (.Params.guest02) }}<h3 class="fw-bold">Guest Speaker:</h3>
				{{ else }}<h3 class="fw-bold">Guest Speakers:</h3>
				{{ end }}
			{{ end }}
			{{ if .Params.guest01 }}<a href=" {{ .Params.guest01Link }}"><h5>{{ .Params.guest01 }}</h5></a>{{ end }}
			{{ if .Params.guest02 }}<a href=" {{ .Params.guest01Link }}"><h5>{{ .Params.guest02 }}</h5></a>{{ end }}
			{{ if .Params.guest03 }}<a href=" {{ .Params.guest01Link }}"><h5>{{ .Params.guest03 }}</h5></a>{{ end }}
			{{ if .Params.guest04 }}<a href=" {{ .Params.guest01Link }}"><h5>{{ .Params.guest04 }}</h5></a>{{ end }}
			{{ if .Params.guest05 }}<a href=" {{ .Params.guest01Link }}"><h5>{{ .Params.guest05 }}</h5></a>{{ end }}
			{{ if .Params.guest06 }}<a href=" {{ .Params.guest01Link }}"><h5>{{ .Params.guest06 }}</h5></a>{{ end }}
		</div>
		<!--Guest-End-->
	</div>
</div>