{{ $leftMid := "Past Events" }}
{{ $rightMid := "Upcoming Events" }}
<div class="center m-4 p-2">
  <div class="btn-group" role="group" aria-label="Basic example">

    {{ if ne .Parent.Params.prevBack false }}
      {{ if .PrevInSection }}
        <a href="{{ .PrevInSection.Permalink }}">
          <button type="button" class="btn btn-dark m-2">&larr; Prev.</button>
        </a>
      {{ else }}
        <div>
          <button type="button" class="btn btn-dark m-2"disabled>&larr; Prev.</button>
        </div>
      {{ end }}
    {{ end }}
      
    {{ if .Parent.Params.leftMidLink }}
      <a href="{{ .Parent.Params.leftMidLink }}">
        <button type="button" class="btn btn-dark m-2">{{ .Parent.Params.leftMid }}</button>
      </a>
    {{ end }}

    {{ if .Parent.Params.backMidButton }}
      <button type="button" class="btn btn-dark rounded m-2" onclick="history.back()">Back</button>
    {{ end }}

    {{ if .Parent.Params.rightMidLink }}
      <a href="{{ .Parent.Params.rightMidLink }}">
        <button type="button" class="btn btn-dark m-2">{{ .Parent.Params.rightMid }}</button>
      </a>
    {{ end }}

    {{ if ne .Parent.Params.prevBack false }}
      {{ if .NextInSection }}
        <a href="{{ .NextInSection.Permalink }}">
          <button type="button" class="btn btn-dark m-2">Next &rarr;</button>
        </a>
      {{ else }}
        <div>
          <button type="button" class="btn btn-dark m-2"disabled>Next &rarr;</button>
        </div>
      {{ end }}
    {{ end }}

  </div>
</div>