<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4">
  <a href="{{ .Permalink }}">
    <div class="card list-card h-100 shadow-effect border">

	<div class="card-body">

    <!--Role-->
    <div class="center my-2">
      {{ if .Params.role }} <h5 class="mb-2"> {{ .Params.role }} </h5> {{ end }}
    </div>
    <!--Role-->

    <!--Image-->
    {{ if .Params.image }}
    <div>
      <div class="member-card-image py-2">
        {{ with partial "get_image" . }}
          <img src="{{ .RelPermalink }}" alt="{{ .Params.name }}" class="rounded img-fluid lazyload">
        {{ end }}
      </div>
    </div>
    {{ end }}
    <!--Image-END-->

    <!--Info-->
    <div class="center my-2">
      <h3 class="my-2"> {{ .Params.name }} </h3>
      {{ if .Params.description }} <h6 class="mb-2"> {{ .Params.description }} </h6> {{ end }}
  <!--    {{ if .Params.position }} <h6 class="mt-4"> {{ .Params.position }} </h6> {{ end }}
      {{ if .Params.company }} <h3 class="mb-0"> {{ .Params.company }} </h3> {{ end }} -->
    </div>
    <!--Info-END-->

  </div>
</div>

  </a>
</div>


