
<div class="card single-card h-100 shadow-effect border">
	<div class="card-body">

    <!--Image-->
    {{ if .Params.image }}
    <div class="py-4">
      <div class="member-card-image p-0">
        {{ with partial "get_image" . }}
          <img src="{{ .RelPermalink }}" alt="{{ .Params.name }}" class="rounded img-fluid lazyload">
        {{ end }}
      </div>
    </div>
    {{ end }}
    <!--Image-END-->

    <!--TopInfo-->
    <div class="center mb-2">
      <h1 class="mb-0"> {{ .Params.name }} </h1>
      {{ if .Params.description }} <h6 class="mb-2"> {{ .Params.description }} </h6> {{ end }}
      {{ if .Params.position }} <h5 class="mt-4"> {{ .Params.position }} </h5> {{ end }}
      {{ if .Params.company }} <h1 class="mb-0"> {{ .Params.company }} </h1> {{ end }}
    </div>
    <!--TopInfo-END-->

    <!--Content-->
    {{ if .Content }}
    <div class="center pt-2">
      <article role="main" class="blog-post">
        {{ .Content }}
      </article>
    </div>
    {{ end }}
    <!--Content-END-->

    <!--Address-->
    <div class="center py-2">
      {{ partial "address" . }}
    </div>
    <!--Address-END-->
    

    <!--BottomInfo-->
    <div class="center py-2">
      {{ if .Params.phone }}<h4><a href="tel:{{ .Params.phone }}">{{ .Params.phone }}</a></h4>{{ end }}
      {{ if .Params.phone_office }} <h4><a href="tel:{{ .Params.phone_office }}">Office: {{ .Params.phone_office }}</a></h4>{{ end }}
      {{ if .Params.phone_cell }}<h4><a href="tel:{{ .Params.phone_cell }}">Cell: {{ .Params.phone_cell }}</a></h4>{{ end }}
      {{ if .Params.email }}<h4><a href="mailto:{{ .Params.email }}">{{ .Params.email }}</a></h4>{{ end }}
      {{ if .Params.website }}<h4><a href="https://{{ .Params.website }}">{{ .Params.website }}</a></h4>{{ end }}
    </div>
    <!--BottomInfo-END-->

  </div>
</div>




