
{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-md-12">
      {{ with .Content }}
        <div class="well">
          {{.}}
        </div>
      {{ end }}
      <div class="row">
        {{ range .Pages }}
          {{ partial "events/event_preview" .}}
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 home-page">    <br>
  <a href="/events/past"><button type="button" class="btn btn-dark">Past Events</button></a>
  <a href="/events/future"><button type="button" class="btn btn-dark">Future Events</button></a>
  <br>
  </div>
</div>

{{ end }}
